*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1f2937;
    color: white;
    padding:1em 13em;
}
/* NAVBAR  */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: baseline;
}
.left{
    font-size: 24px;
    color: #F9FAF8 ;
}
.right .link {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e6e7eb;
}
ul{
    list-style: none;
    gap: 16px   ;
}
/* Hero-main  */
.hero-main{
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px    ;
}
.hero-main .left{
    flex: 0 0 50%;
}

.left .welcome{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    
    
}
.left .parrafo{
    font-size: 18px;
    color: #F9FAF8;
}
.hero-main .right{
    flex: 0 0 50%;
}
.left .sign-up{
    background-color: rgb(36, 112, 199);
    color: white;
    padding: 12px;
    border-radius: 15px;
}
.right .imagen{
    background-color: gray;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
}
.right .texto{
    font-size: 18px;
}
/* Texto medio  */
.medio{
    display: flex;
    flex-direction: column;
}
.medio .titulo{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
}
.fotos{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container .card{
    height: 140px;
    width: 140px;
    border-style: solid;
    border-color: blue;
    border-radius: 15px;
    
}

.container .text{
    height: 140px;
    width: 140px;
    color: gray;
    padding-top: 15px;
}
/* Cita del texto */
.cita{
    height: 300px;
    background-color:rgb(197, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cita .texto{
    height: 150px;
    width: 700px;
    
    
    font-size: 34px;
    font-style: italic;
    
    
}
.cita .quota {
    align-self: flex-end;
    width: 700px;
    font-weight: bold;
    font-size: 26px;
}
/* inscribirse */
.inscribete{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inscribete .cuadro{
    height: 150px;
    width: 900px;
    border-style: solid;
    background-color: rgb(20, 69, 228);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.button-der .sign-up2 {
    padding: 2px 25px;
    color: white;
    background-color: rgb(20, 69, 228);
    border-style: solid;
    border-color: white;
    border-radius: 24px;

}
/* footer */
.footer{
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 2rem ;
}