
.header{
    display: flex;
    align-items: center;
    background-color: #1f2937;
}
.logo{
    display: flex;
    flex: 1;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
ul{
    flex: 1;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
p{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
   
}
.main-tex{
    display: flex;
    flex: 1;
}
.left-text{
    justify-content: end;
    align-items: end;
}
.Cabezera{
    font-size: 48px;
}
